# To install the CUDA-enabled versions of PyTorch, torchvision, and torchaudio for CUDA 11.8, run:
# pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu118

segmentation-models-pytorch
albumentations
opencv-python
timm
numpy
matplotlib